/* mag-component-layout-list:  release */
.component.modalMessage {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: table;
    z-index: 10; }
    .component.modalMessage.active > div > div > div.overlay {
        display: none; }
    .component.modalMessage > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .component.modalMessage > div > div {
            position: relative;
            display: inline-block;
            overflow: hidden;
            max-width: 80%;
            min-width: 399.375px;
            max-height: 80%; }
            .component.modalMessage > div > div > div.header {
                height: 105px;
                line-height: 105px;
                font-size: 36px;
                padding: 0 30px; }
                .component.modalMessage > div > div > div.header .icon {
                    height: 69px;
                    width: 69px;
                    display: table-cell;
                    background: no-repeat center center; }
                .component.modalMessage > div > div > div.header .text {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center; }
                    .component.modalMessage > div > div > div.header .text:empty {
                        padding: 0; }
            .component.modalMessage > div > div > div.body > .component.list .item {
                height: 90px;
                line-height: 90px;
                padding: 0 30px; }
                .component.modalMessage > div > div > div.body > .component.list .item .component.checkBox, .component.modalMessage > div > div > div.body > .component.list .item .component.layout > div.icon {
                    height: 90px;
                    line-height: 90px;
                    width: 67.5px;
                    text-align: left; }
            .component.modalMessage > div > div > div.overlay {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0; }
