.stb-component-modal {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: table; }
    .stb-component-modal.hidden {
        display: none; }
    .stb-component-modal > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .stb-component-modal > div > div.body {
            display: inline-block;
            overflow: hidden;
            background-color: #333;
            padding: 3%;
            max-width: 80%;
            max-height: 80%; }

.stb-component-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%; }
    .stb-component-list.hidden {
        display: none; }
    .stb-component-list > .item {
        cursor: pointer;
        padding: 0 8px;
        vertical-align: middle;
        height: 48px;
        line-height: 48px; }
        .stb-component-list > .item.mark {
            background-color: green;
            color: black; }
        .stb-component-list > .item.focus {
            background-color: orange;
            color: black; }
        .stb-component-list > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .stb-component-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .stb-component-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }

.mag-component-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%; }
    .mag-component-list.hidden {
        display: none; }
    .mag-component-list .item {
        cursor: pointer;
        padding: 0 8px;
        vertical-align: middle;
        height: 48px;
        line-height: 48px; }
        .mag-component-list .item.mark {
            background-color: green;
            color: black; }
        .mag-component-list .item.focus {
            background-color: orange;
            color: black; }
        .mag-component-list .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .mag-component-list .mag-component-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .mag-component-list .mag-component-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }

.mag-component-layout {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: table;
    width: 100%; }
    .mag-component-layout.hidden {
        display: none; }
    .mag-component-layout > div {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        height: 100%; }

.stb-component-checkbox {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border: 2px solid #888;
    background-color: #bbb;
    vertical-align: bottom; }
    .stb-component-checkbox.hidden {
        display: none; }
    .stb-component-checkbox.checked {
        background-color: orange; }

.mag-component-modal {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: table;
    z-index: 10; }
    .mag-component-modal.hidden {
        display: none; }
    .mag-component-modal.active > div > div > div.overlay {
        display: none; }
    .mag-component-modal > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .mag-component-modal > div > div {
            position: relative;
            display: inline-block;
            overflow: hidden;
            max-width: 80%;
            min-width: 266.25px;
            max-height: 80%; }
            .mag-component-modal > div > div > div.header {
                height: 70px;
                line-height: 70px;
                font-size: 24px;
                padding: 0 20px; }
                .mag-component-modal > div > div > div.header .icon {
                    height: 46px;
                    width: 46px;
                    display: table-cell;
                    background: no-repeat center center; }
                .mag-component-modal > div > div > div.header .text {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center; }
                    .mag-component-modal > div > div > div.header .text:empty {
                        padding: 0; }
            .mag-component-modal > div > div > div.body > .mag-component-list .item {
                height: 60px;
                line-height: 60px;
                padding: 0 20px; }
                .mag-component-modal > div > div > div.body > .mag-component-list .item .stb-component-checkbox, .mag-component-modal > div > div > div.body > .mag-component-list .item .mag-component-layout > div.icon {
                    height: 60px;
                    line-height: 60px;
                    width: 45px;
                    text-align: left; }
            .mag-component-modal > div > div > div.overlay {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0; }
