.stb-component-modal {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: table; }
    .stb-component-modal.hidden {
        display: none; }
    .stb-component-modal > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .stb-component-modal > div > div.body {
            display: inline-block;
            overflow: hidden;
            background-color: #333;
            padding: 3%;
            max-width: 80%;
            max-height: 80%; }

.mag-component-panel {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: table;
    z-index: 10; }
    .mag-component-panel.hidden {
        display: none; }
    .mag-component-panel.active > div > div > div.overlay {
        display: none; }
    .mag-component-panel > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .mag-component-panel > div > div {
            position: relative;
            display: inline-block;
            overflow: hidden;
            max-width: 80%;
            min-width: 266.25px;
            max-height: 80%; }
            .mag-component-panel > div > div > div.header {
                height: 70px;
                line-height: 70px;
                font-size: 24px;
                padding: 0 20px; }
                .mag-component-panel > div > div > div.header .icon {
                    height: 46px;
                    width: 46px;
                    display: table-cell;
                    background: no-repeat center center; }
                .mag-component-panel > div > div > div.header .text {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center; }
                    .mag-component-panel > div > div > div.header .text:empty {
                        padding: 0; }
            .mag-component-panel > div > div > div.body > .mag-component-list .item {
                height: 60px;
                line-height: 60px;
                padding: 0 20px; }
                .mag-component-panel > div > div > div.body > .mag-component-list .item .stb-component-checkbox, .mag-component-panel > div > div > div.body > .mag-component-list .item .mag-component-layout > div.icon {
                    height: 60px;
                    line-height: 60px;
                    width: 45px;
                    text-align: left; }
            .mag-component-panel > div > div > div.overlay {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0; }
