// $license The MIT License (MIT)
// $copyright Stanislav Kalashnik <darkpark.main$gmail.com>

@import "body";
@import "../node_modules/stb-component-modal/sass/main";
@import "../node_modules/mag-component-list/sass/main";
@import "../node_modules/mag-component-layout/sass/main";
@import "../node_modules/stb-component-checkbox/sass/main";
@import "../node_modules/stb-component/sass/main";

.mag-component-panel {
    @include stb-component-release;
    @include mag-component-modal;

    @if $DEVELOP {
        @include stb-component-develop;
    }
}
